# Thư mục node_modules
node_modules/

# Thư mục tạm thời
temp/

# File môi trường chứa API key
.env

# File log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build
dist/
build/
data/
# Các file tạm thời hệ thống
.DS_Store
Thumbs.db
.cache
.tmp

# Các file IDE và editor
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# Các file cơ sở dữ liệu
*.sqlite
*.db

# File cấu hình cục bộ
config.local.js 